*
!.*
.vim/plugged/
.vim/tmp/
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.inputrc
.lesshst
.login
.node_repl_history
.ocamlinit
.recently-used
.utop-history
.vim/.gitignore
.viminfo
.vimold/
.vimrc
.vt_locations
